body{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: aquamarine;
    height: 100px;
    
}

nav{
    background-color: red;
    height: 80px;
    margin: 0px; 
}

h2{
    margin: 0px;
}

h1{
    margin: 0px;
}

p{
    margin: 0px;
}

.cuerpo{
    display: flex;
}
section{
    background-color: yellow;
    width: 70%;
    padding: 15px;
}

aside{
    background-color: rgb(206, 197, 197);
    width: 30%;
}

article{
    background-color: orange;
   margin: 10px;
}



footer{
    background-color: aqua;
    height: 100px;
}